.p4 {
    height: 100%;
    width: 100%;

    overflow: hidden;
    background: #090c11;

    position: relative;
}

.p4 high {
    color: #50a2d1;
}

.p4 header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Inter";
    font-weight: bold;
    font-size: calc(60 / 16 * 1rem);
    color: white;
    text-transform: uppercase;
    padding-top: calc(120 / 16 * 1rem);
    padding-bottom: calc(70 / 16 * 1rem);
}

.p4 main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    column-gap: calc(31 / 16 * 1rem);

    align-items: stretch;
}

.p4 main,
.p4 footer,
.p4 header {
    padding-left: calc(74 / 16 * 1rem);
    padding-right: calc(74 / 16 * 1rem);
}

.p4 main section {
    border: 1px solid #18272c;
    border-radius: calc(18 / 16 * 1rem);
    padding: calc(36 / 16 * 1rem);
}

.p4 main .collaboration {
    flex: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    gap: calc(24 / 16 * 1rem);
}

.p4 main .details {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.p4 main .collaboration h1,
p {
    padding: 0;
    margin: 0;
}

.p4 main .collaboration h1 {
    color: white;
    font-family: "Inter";
    font-weight: bold;
    font-size: calc(32 / 16 * 1rem);
    text-transform: uppercase;
}

.p4 main .collaboration p {
    font-family: "Inter";
    font-weight: normal;
    color: #bbb;

    padding: 0.75rem 0;
}

.p4 main .collaboration .platforms {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    gap: 0.5rem;
}

.p4 main .collaboration .platforms img {
    height: calc(48 / 16 * 1rem);
}

.p4 main .details div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Inter";
    font-weight: bold;
    font-size: calc(20 / 16 * 1rem);
    flex-direction: row-reverse;
}

.p4 footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: calc(80 / 16 * 1rem);
}

.p4 footer button {
    outline: none;
    border: none;

    color: white;
    background-color: #50a2d1;
    border-radius: calc(22 / 16 * 1rem);

    font-family: "Inter";
    font-weight: bold;

    font-size: calc(20 / 16 * 1rem);
    padding: calc(12 / 16 * 1rem) calc(63 / 16 * 1rem);
}
